<!DOCTYPE html>
<html lang="en">
	<head>
		{{!-- <link rel='shortcut icon' type='image/x-icon' href='assets/images/hub_logo.png'/> --}}

		<title>Hub-1</title>
	</head>
	<body>
	<h1>Main Loaded</h1>
		{{{ body }}}
	</body>
</html>
