<h1>Sign Up</h1>
<form action="/api/signup" method="post">
<input type="text" name="name" placeholder="Name">
<input type="pass" name="pass" placeholder="Pass">
<button type="submit">Submit</button>
</form>