<h1 class="text-center">Oops. We weren't able to sign you up. Please try again.</h1>
<br>
<br>
<div class="col-xs-6 col-xs-offset-3">
<form action="/api/signup" method="post">
<input type="text" name="name" placeholder="Name">
<input type="pass" name="pass" placeholder="Pass">
<button type="submit">Submit</button>
</form>
</div>