<h1 class="text-center">Sign Up</h1>
<br>
<br>
<div class="col-xs-6 col-xs-offset-3">
<form action="/api/signup" method="post">
<input type="text" name="name" placeholder="Name">
<input type="pass" name="pass" placeholder="Pass">
<input id="userBrowserIDInput" type="hidden" name="userBrowserID" value="">
<button type="submit">Submit</button>
</form>
</div>
<script src="/assets/javascript/sign-in-up.js"></script>