<h1>Sign In</h1>
<form action="/api/signin" method="post">
<input type="text" name="name" placeholder="Name">
<input type="pass" name="pass" placeholder="Pass">
<button type="submit">Submit</button>
</form>