html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
	background-color: #fafafa;
}

footer {
	background-color: #0e0e0e;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	color: #fafafa;
}

.main-navbar {
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #8d53ce;
	position: relative;

}

.main-navbar-logo {
	height: 70px;
	
}

.main-navbar-links {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-navbar-links li {
	display: inline-block;
	padding-top: 30px;
}

.main-navbar-links a {
	color: #fafafa;
	border-left: 1px solid #a586c7;
	border-right: 1px solid #a586c7;
}

.well-margin {
	margin: 5% 0;
}
